<ion-view view-title="Configurations">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doMasterLogout()" ng-if="isLogged">
            Logout
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <a href="#/app/masterconfiguser" class="item item-icon-left item-icon-right">
                <i class="icon ion-person"></i>
                
				<div ng-if="!isLogged">Sign Up</div>
				<div ng-if="isLogged">Change Data</div>
				
				<i class="icon ion-ios-arrow-right"></i>
            </a>

            <a href="#/app/masterconfigmaps" class="item item-icon-left item-icon-right" ng-if="isLogged">
                <i class="icon ion-map"></i>
                Maps
				<i class="icon ion-ios-arrow-right "></i>
            </a>
            
            <a href="#/app/masterconfigrules" class="item item-icon-left item-icon-right" ng-if="isLogged">
                <i class="icon ion-wand"></i>
                Rulesets
				<i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
