<ion-view view-title="My Zones">
	<ion-nav-back-button>
  	</ion-nav-back-button>
	<ion-nav-buttons side="right">
		  <a class="button icon button-icon ion-plus-round" href="#/app/masternewmap"></a>
    </ion-nav-buttons>
    <ion-content>
		<ion-list show-delete="data.showDelete" 
                    show-reorder="data.showReorder" can-swipe="data.canSwipe">
	  		<ion-item ng-repeat="item in maps" class="item item-icon-right">
		    <h2>{{item.description}}</h2>
		    
			<ion-option-button class="button-info" ng-click="edit(item)">
		      Edit
		    </ion-option-button>
		
		    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete($index)">
		    </ion-delete-button>
			
			<i class="icon ion-chevron-right"></i>
		  </ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline"
                    ng-click="data.showDelete = !data.showDelete; data.showReorder = false"/>
        </div>
        <a class="title"></a>
        <div class="buttons">
            <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                Reorder
            </button>
        </div>
    </ion-footer-bar>
</ion-view>