<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Stop Event</h1>
        <!--<a class="button button-icon icon ion-close" ng-click="closeStopEventModal()"></a>-->
    </ion-header-bar>
    <ion-content>
        <div class="row text-center">
            <h2>Are you sure you want to stop the event?</h2>
        </div>
    </ion-content>
    <ion-footer-bar align-title="right">
        <div class="buttons">
            <button class="button button-outline button-positive" ng-click="closeStopEventModal()">
                No
            </button>
            <button class="button button-outline button-assertive" ng-click="stopEventAndSwitchView()">
                Yes
            </button>
        </div>
    </ion-footer-bar>
</ion-modal-view>