<ion-view view-title="General Settings" ng-controller="ConfigEventCtrl">

    <ion-content>
        <form name="eventSettingsForm" novalidate>
            <div class="list">
                <div class="row">
                    <img src="img/no_logo_selected.png" id="logo_image" width="100%" height="200px" onclick="loadNewLogo()"/>
                </div>

                <div class="item item-divider">
                    General Information
                </div>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" name="eventName" ng-model="event.eventName" required
                           ng-minlength="5" ng-maxlength="50">

                    <p ng-show="eventSettingsForm.eventName.$invalid && !eventSettingsForm.eventName.$pristine"
                       class="help-block">Event Name is Required </p>

                    <p ng-show="eventSettingsForm.eventName.$error.minlength" class="help-block">Event Name is too
                        short.</p>

                    <p ng-show="eventSettingsForm.eventName.$error.maxlength" class="help-block">Event Name is too
                        long.</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Description/Briefing</span>
                    <input type="text" placeholder="Description" name="eventDescription" ng-model="event.eventDescription">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Additional Information</span>
                    <textarea placeholder="Additional Information" name="eventAdditionalInformation"
                              ng-model="event.eventAdditionalInformation"></textarea>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address" name="eventAddress" ng-model="event.eventAddress"
                           ng-minlength="10"
                           ng-maxlength="200" required>

                    <p ng-show="eventSettingsForm.eventAddress.$invalid && !eventSettingsForm.eventName.$pristine"
                       class="help-block">Address is Required </p>

                    <p ng-show="eventSettingsForm.eventAddress.$error.minlength" class="help-block">Address is too
                        short.</p>

                    <p ng-show="eventSettingsForm.eventAddress.$error.maxlength" class="help-block">Address is too
                        long.</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Rules</span>
                    <input type="text" placeholder="Rules" name="eventRules" ng-model="event.eventRules" ng-minlength="50"
                           ng-maxlength="500">

                    <p ng-show="eventSettingsForm.eventRules.$invalid && !eventSettingsForm.eventRules.$pristine"
                       class="help-block">Rules are Required </p>

                    <p ng-show="eventSettingsForm.eventRules.$error.minlength" class="help-block">Rules text is too
                        short.</p>

                    <p ng-show="eventSettingsForm.eventRules.$error.maxlength" class="help-block">Rules text is too
                        long.</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Restrictions</span>
                    <input type="text" placeholder="Restrictions" name="eventRestrictions" ng-model="event.eventProhibitions"
                           ng-minlength="20" ng-maxlength="500" required>

                    <p ng-show="eventSettingsForm.eventRestrictions.$invalid && !eventSettingsForm.eventRestrictions.$pristine"
                       class="help-block">Prohibitions are Required </p>

                    <p ng-show="eventSettingsForm.eventRestrictions.$error.minlength" class="help-block">Prohibitions is
                        too short.</p>

                    <p ng-show="eventSettingsForm.eventRestrictions.$error.maxlength" class="help-block">Prohibitions is
                        too long.</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Proceedments</span>
                    <input type="text" placeholder="Proceedments" name="eventProceedments" ng-model="event.eventProceedments">
                </label>

                <div class="item item-divider">
                    Event Dates
                </div>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Reg. Start Date</span>
                    <input type="datetime-local" placeholder="Reg. Start Date (yyyy-mm-ddThh24:mi:ss)" name="eventRegistryStartDate"
                           ng-model="event.eventRegistryStartDate" required>

                    <p ng-show="eventSettingsForm.eventRegistryStartDate.$invalid && !eventSettingsForm.eventRegistryStartDate.$pristine"
                       class="help-block">Registry Start Date is Required </p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Reg. End Date</span>
                    <input type="datetime-local" placeholder="Reg. End Date (yyyy-mm-ddThh24:mi:ss)" name="eventRegistryEndDate"
                           ng-model="event.eventRegistryEndDate" required>

                    <p ng-show="eventSettingsForm.eventRegistryEndDate.$invalid && !eventSettingsForm.eventRegistryEndDate.$pristine"
                       class="help-block">Registry End Date is Required </p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Event Start Date</span>
                    <input type="datetime-local" placeholder="Event Start Date (yyyy-mm-ddThh24:mi:ss)" name="eventStartDate"
                           ng-model="event.eventStartDate" required>

                    <p ng-show="eventSettingsForm.eventStartDate.$invalid && !eventSettingsForm.eventStartDate.$pristine"
                       class="help-block">Event Start Date is Required </p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Event End Date</span>
                    <input type="datetime-local" placeholder="Event End Date (yyyy-mm-ddThh24:mi:ss)" name="eventEndDate"
                           ng-model="event.eventEndDate" required>

                    <p ng-show="eventSettingsForm.eventEndDate.$invalid && !eventSettingsForm.eventEndDate.$pristine"
                       class="help-block">Event End Date is Required </p>
                </label>

                <div class="item item-divider">
                    Game Information
                </div>

                <label class="item item-input item-floating-label">
                    <span class=" input-label">Initial Perk Points</span>
                    <input type="number" placeholder="Initial Perk Points" name="initialPerkPoints"
                           ng-model="event.initialPerkPoints" required>

                    <p ng-show="eventSettingsForm.initialPerkPoints.$invalid && !eventSettingsForm.initialPerkPoints.$pristine"
                       class="help-block">Initial Perk Points Required</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Max. ComSys/Faction</span>
                    <input type="number" placeholder="Max. ComSys/Faction" name="maxComsysPerFaction"
                           ng-model="event.maxComsysPerFaction" required>

                    <p ng-show="eventSettingsForm.maxComsysPerFaction.$invalid && !eventSettingsForm.maxComsysPerFaction.$pristine"
                       class="help-block">Max. ComSys/Faction Required</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Max. Operator/ComSys</span>
                    <input type="number" placeholder="Max. Operator/ComSys" name="maxOperPerComSys"
                           ng-model="event.maxOperPerComSys" required>

                    <p ng-show="eventSettingsForm.maxOperPerComSys.$invalid && !eventSettingsForm.maxOperPerComSys.$pristine"
                       class="help-block">Max. Operator/ComSys Required</p>
                </label>

                <label class="item item-input item-floating-label">
                    <spsan class="input-label">Respawn Delay</spsan>
                    <input type="number" placeholder="Respawn Delay" name="respawnDelay" ng-model="event.respawnDelay"
                           required>

                    <p ng-show="eventSettingsForm.respawnDelay.$invalid && !eventSettingsForm.respawnDelay.$pristine"
                       class="help-block">Respawn Delay Required</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Number of Factions in Game</span>
                    <input type="number" placeholder="Number of Factions in Game" name="numberOfFactionsInGame"
                           ng-model="event.numberOfFactionsInGame" required>

                    <p ng-show="eventSettingsForm.numberOfFactionsInGame.$invalid && !eventSettingsForm.numberOfFactionsInGame.$pristine"
                       class="help-block">Number Of Factions In Game Required</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Minimum GPS Refresh Rate</span>
                    <input type="number" placeholder="Maximum GPS Refresh Rate" name="minGpsRefreshRate"
                           ng-model="event.minGpsRefreshRate" required>

                    <p ng-show="eventSettingsForm.minGpsRefreshRate.$invalid && !eventSettingsForm.minGpsRefreshRate.$pristine"
                       class="help-block">GPS Refresh Rate is Required</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Maximum GPS Refresh Rate</span>
                    <input type="number" placeholder="Maximum GPS Refresh Rate" name="maxGpsRefreshRate"
                           ng-model="event.maxGpsRefreshRate" required>

                    <p ng-show="eventSettingsForm.maxGpsRefreshRate.$invalid && !eventSettingsForm.maxGpsRefreshRate.$pristine"
                       class="help-block">GPS Refresh Rate is Required</p>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Points Per Kill</span>
                    <input type="number" placeholder="Points Per Kill" name="pointsPerKill" ng-model="event.pointsPerKill"
                           required>

                    <p ng-show="eventSettingsForm.pointsPerKill.$invalid && !eventSettingsForm.pointsPerKill.$pristine"
                       class="help-block">Points Per Kill Is Required</p>
                </label>

                <!--
                <label class="item item-toggle">
                    <div class="input-label">ComSys Bases Visible</div>
                    <label class="toggle">
                        <input type="checkbox" ng-model="event.comSysBasesVisible">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>
                -->

                <label ng-repeat="checkbox in checkboxes" class="item item-toggle">
                    <div class="input-label">{{checkbox.text}}</div>
                    <label class="toggle">
                        <input type="checkbox" ng-model="checkbox.checked">

                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>
            </div>

            <button class="button button-block button-dark" type="submit" ng-click="saveEventGeneralSettings(event)"
                    ng-disabled="eventSettingsForm.$invalid">Save
            </button>
        </form>
    </ion-content>
</ion-view>