<ion-view view-title="New Event" ng-controller="ConfigEventCtrl">
    <ion-content>
        <div class="list card">
            <a href="#app/configeventgeneral" class="item item-icon-left">
                <i class="icon ion-gear-a"></i>
                General Settings
            </a>

            <a href="#app/listfactions" class="item item-icon-left">
                <i class="icon ion-ribbon-a"></i>
                Faction Management
            </a>

            <a href="#app/listtar" class="item item-icon-left">
                <i class="icon ion-jet"></i>
                T.A.R. (Tactical Action Ruleset)
            </a>

            <a href="#app/listopr" class="item item-icon-left">
                <i class="icon ion-fireball"></i>
                O.P.R. (Operator Perk Ruleset)
            </a>
        </div>
    </ion-content>
</ion-view>