<ion-view view-title="Events List" ng-controller="EventsCtrl">
    <ion-content>
        <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%">
            <ion-list
                    show-delete="data.showDelete"
                    show-reorder="data.showReorder"
                    can-swipe="data.canSwipe">
                <ion-item ng-repeat="item in items"
                          class="item-thumbnail-left">

                    <img ng-src="img/no_logo_selected.png">

                    <h2>{{item.name}}</h2>

                    <p>{{item.location}}</p>
                    <ion-option-button class="button-info"
                                       ng-click="edit(item)">
                        Edit
                    </ion-option-button>
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="items.splice($index, 1)">
                    </ion-delete-button>
                    <ion-reorder-button class="ion-navicon"
                                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                    </ion-reorder-button>

                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-minus-outline"
                    ng-click="data.showDelete = !data.showDelete; data.showReorder = false"/>
        </div>
        <a class="title" href="#/app/configevent">New Event</a>
        <div class="buttons">
            <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
                Reorder
            </button>
        </div>
    </ion-footer-bar>
</ion-view>