<ion-view view-title="Operator Perk Ruleset" ng-controller="ConfigEventCtrl">
    <ion-content>
        <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 100%">
            <div class="list">
                <label class="item item-toggle">
                    <div class="input-label">Operator Perk Ruleset 1</div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-toggle">
                    <div class="input-label">Operator Perk Ruleset 2</div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-toggle">
                    <div class="input-label">Operator Perk Ruleset 3</div>
                    <label class="toggle">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

            </div>
        </ion-scroll>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <ion-footer-bar class="bar-dark">
            <div class="buttons"></div>
            <h1 class="title"></h1>
            <div class="buttons">
                <button class="button button-icon icon ion-checkmark-circled"/>
            </div>
        </ion-footer-bar>
</ion-view>