<ion-view view-title="Tactical Action Ruleset" ng-controller="ConfigEventCtrl">
    <ion-content>
        <div class="list">
            <label class="item item-toggle">
                <div class="input-label">Tactical Action Ruleset 1</div>
                <label class="toggle">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle">
                <div class="input-label">Tactical Action Ruleset 2</div>
                <label class="toggle">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle">
                <div class="input-label">Tactical Action Ruleset 3</div>
                <label class="toggle">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle">
                <div class="input-label">Tactical Action Ruleset 4</div>
                <label class="toggle">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <ion-footer-bar class="bar-dark">
            <ion-footer-bar class="bar-dark">
                <div class="buttons"></div>
                <h1 class="title"></h1>
                <div class="buttons">
                    <button class="button button-icon icon ion-checkmark-circled"/>
                </div>
            </ion-footer-bar>
</ion-view>